In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, rank, countDistinct, count
from pyspark.sql.window import Window
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.feature import StringIndexer
from pyspark.ml.tuning import TrainValidationSplit, ParamGridBuilder, CrossValidator
import pandas as pd

In [2]:
spark = SparkSession.builder.appName('loan_recommendation_').config("spark.driver.memory", "15g").getOrCreate()

In [4]:
loans_df = spark.read.csv("Loan recommendation/Loan_recommedation_demo_version.csv",inferSchema = True, header=True)
loans_df.printSchema()

root
 |-- Contact__c: string (nullable = true)
 |-- Min_IT_Loan_ID__c: integer (nullable = true)
 |-- Opp_Number__c: integer (nullable = true)
 |-- Id: string (nullable = true)
 |-- AccountID: string (nullable = true)
 |-- Number_Of_Loans_Granted__c: integer (nullable = true)
 |-- Num_Of_Loans_Paid__c: double (nullable = true)
 |-- Purpose_of_Loan__c: string (nullable = true)
 |-- Total_Repayments__c: integer (nullable = true)
 |-- Amount: integer (nullable = true)
 |-- Term_in_Weeks__c: double (nullable = true)
 |-- Payment_Frequency__c: string (nullable = true)
 |-- StageName: string (nullable = true)
 |-- userId: integer (nullable = true)
 |-- loanId: integer (nullable = true)
 |-- count: double (nullable = true)
 |-- LoanIdFormat: integer (nullable = true)

In [5]:
loans_df.show(vertical=True)

-RECORD 0------------------------------------------
 Contact__c                 | 0032x000003RvgkAAC
 Min_IT_Loan_ID__c          | 5145623
 Opp_Number__c              | 4369500
 Id                         | 0062x00000D178JAAR
 AccountID                  | 0012x000004VG7MAAW
 Number_Of_Loans_Granted__c | 7
 Num_Of_Loans_Paid__c       | 4.0
 Purpose_of_Loan__c         | Relocation Expenses
 Total_Repayments__c        | 2
 Amount                     | 200
 Term_in_Weeks__c           | 6.857
 Payment_Frequency__c       | Monthly
 StageName                  | Loan Paid
 userId                     | 1641
 loanId                     | 35
 count                      | 1.0
 LoanIdFormat               | 1
-RECORD 1------------------------------------------
 Contact__c                 | 0032x00000HGNewAAH
 Min_IT_Loan_ID__c          | 5145612
 Opp_Number__c              | 4369281
 Id                         | 0062x00000D16ulAAB
 AccountID                  | 0012x00000NwrGSAAZ
 Number_Of_Loans_Granted__c | 10
 Num_Of_Loans_Paid__c       | 6.0
 Purpose_of_Loan__c         | Veterinary Expenses
 Total_Repayments__c        | 2
 Amount                     | 200
 Term_in_Weeks__c           | 6.857
 Payment_Frequency__c       | Monthly
 StageName                  | Loan Paid
 userId                     | 1632
 loanId                     | 3609
 count                      | 2.0
 LoanIdFormat               | 1
-RECORD 2------------------------------------------
 Contact__c                 | 0030K00001QYaZ1QAL
 Min_IT_Loan_ID__c          | 835107
 Opp_Number__c              | 4430711
 Id                         | 0062x00000D2AEoAAN
 AccountID                  | 0010K00001g7iB1QAI
 Number_Of_Loans_Granted__c | 52
 Num_Of_Loans_Paid__c       | 49.0
 Purpose_of_Loan__c         | Vehicle Expenses
 Total_Repayments__c        | 14
 Amount                     | 200
 Term_in_Weeks__c           | 13.714
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1211
 loanId                     | 323
 count                      | 46.0
 LoanIdFormat               | 2
-RECORD 3------------------------------------------
 Contact__c                 | 0032x0000042fZ6AAI
 Min_IT_Loan_ID__c          | 895326
 Opp_Number__c              | 4933131
 Id                         | 0062x00000DWjAvAAL
 AccountID                  | 0012x000005TO9PAAW
 Number_Of_Loans_Granted__c | 51
 Num_Of_Loans_Paid__c       | 44.0
 Purpose_of_Loan__c         | Living Expenses
 Total_Repayments__c        | 10
 Amount                     | 200
 Term_in_Weeks__c           | 9.714
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1635
 loanId                     | 578
 count                      | 37.0
 LoanIdFormat               | 2
-RECORD 4------------------------------------------
 Contact__c                 | 00328000019usxHAAQ
 Min_IT_Loan_ID__c          | 846768
 Opp_Number__c              | 4535369
 Id                         | 0062x00000D8UMiAAN
 AccountID                  | 0012800001SDUAGAA5
 Number_Of_Loans_Granted__c | 40
 Num_Of_Loans_Paid__c       | 36.0
 Purpose_of_Loan__c         | Living Expenses
 Total_Repayments__c        | 14
 Amount                     | 200
 Term_in_Weeks__c           | 14.143
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 513
 loanId                     | 93
 count                      | 32.0
 LoanIdFormat               | 2
-RECORD 5------------------------------------------
 Contact__c                 | 0032x000002dnJnAAI
 Min_IT_Loan_ID__c          | 5146609
 Opp_Number__c              | 4427529
 Id                         | 0062x00000D273xAAB
 AccountID                  | 0012x000003EuYaAAK
 Number_Of_Loans_Granted__c | 39
 Num_Of_Loans_Paid__c       | 33.0
 Purpose_of_Loan__c         | Living Expenses
 Total_Repayments__c        | 6
 Amount                     | 200
 Term_in_Weeks__c           | 5.714
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 574
 loanId                     | 3264
 count                      | 27.0
 LoanIdFormat               | 2
-RECORD 6------------------------------------------
 Contact__c                 | 00328000019usveAAA
 Min_IT_Loan_ID__c          | 851969
 Opp_Number__c              | 4585885
 Id                         | 0062x00000D9VSJAA3
 AccountID                  | 0012800001SDU8dAAH
 Number_Of_Loans_Granted__c | 38
 Num_Of_Loans_Paid__c       | 37.0
 Purpose_of_Loan__c         | Medical Expenses
 Total_Repayments__c        | 14
 Amount                     | 200
 Term_in_Weeks__c           | 14.286
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 2796
 loanId                     | 2873
 count                      | 36.0
 LoanIdFormat               | 2
-RECORD 7------------------------------------------
 Contact__c                 | 0032800001J3F2pAAF
 Min_IT_Loan_ID__c          | 1032588
 Opp_Number__c              | 6662857
 Id                         | 0062x00000ExRVFAA3
 AccountID                  | 0012800001Zs6BrAAJ
 Number_Of_Loans_Granted__c | 32
 Num_Of_Loans_Paid__c       | 31.0
 Purpose_of_Loan__c         | Child Expenses
 Total_Repayments__c        | 10
 Amount                     | 200
 Term_in_Weeks__c           | 10.143
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1250
 loanId                     | 3927
 count                      | 30.0
 LoanIdFormat               | 2
-RECORD 8------------------------------------------
 Contact__c                 | 0032800001J3F2pAAF
 Min_IT_Loan_ID__c          | 946271
 Opp_Number__c              | 5531968
 Id                         | 0062x00000E40DmAAJ
 AccountID                  | 0012800001Zs6BrAAJ
 Number_Of_Loans_Granted__c | 32
 Num_Of_Loans_Paid__c       | 29.0
 Purpose_of_Loan__c         | Child Expenses
 Total_Repayments__c        | 6
 Amount                     | 200
 Term_in_Weeks__c           | 6.143
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1250
 loanId                     | 2267
 count                      | 26.0
 LoanIdFormat               | 2
-RECORD 9------------------------------------------
 Contact__c                 | 0030K00001PGFtBQAX
 Min_IT_Loan_ID__c          | 999785
 Opp_Number__c              | 6027923
 Id                         | 0062x00000EEfiSAAT
 AccountID                  | 0010K00001eyrOfQAI
 Number_Of_Loans_Granted__c | 30
 Num_Of_Loans_Paid__c       | 28.0
 Purpose_of_Loan__c         | Other Expenses
 Total_Repayments__c        | 10
 Amount                     | 200
 Term_in_Weeks__c           | 9.857
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 823
 loanId                     | 1908
 count                      | 26.0
 LoanIdFormat               | 2
-RECORD 10-----------------------------------------
 Contact__c                 | 0030K00001zzd6vQAA
 Min_IT_Loan_ID__c          | 853334
 Opp_Number__c              | 4595925
 Id                         | 0062x00000D9jkqAAB
 AccountID                  | 0010K000027zFhTQAU
 Number_Of_Loans_Granted__c | 30
 Num_Of_Loans_Paid__c       | 23.0
 Purpose_of_Loan__c         | Medical Expenses
 Total_Repayments__c        | 10
 Amount                     | 200
 Term_in_Weeks__c           | 10.0
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1040
 loanId                     | 1778
 count                      | 16.0
 LoanIdFormat               | 2
-RECORD 11-----------------------------------------
 Contact__c                 | 0030K00001uYGG5QAO
 Min_IT_Loan_ID__c          | 5165109
 Opp_Number__c              | 5497908
 Id                         | 0062x00000E3YlhAAF
 AccountID                  | 0010K000025xbGaQAI
 Number_Of_Loans_Granted__c | 29
 Num_Of_Loans_Paid__c       | 28.0
 Purpose_of_Loan__c         | Living Expenses
 Total_Repayments__c        | 6
 Amount                     | 200
 Term_in_Weeks__c           | 6.429
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1486
 loanId                     | 790
 count                      | 27.0
 LoanIdFormat               | 2
-RECORD 12-----------------------------------------
 Contact__c                 | 0032x000001l32XAAQ
 Min_IT_Loan_ID__c          | 5161398
 Opp_Number__c              | 5186884
 Id                         | 0062x00000Drih3AAB
 AccountID                  | 0012x000002c4OsAAI
 Number_Of_Loans_Granted__c | 29
 Num_Of_Loans_Paid__c       | 27.0
 Purpose_of_Loan__c         | Living Expenses
 Total_Repayments__c        | 6
 Amount                     | 200
 Term_in_Weeks__c           | 6.0
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 507
 loanId                     | 1215
 count                      | 25.0
 LoanIdFormat               | 2
-RECORD 13-----------------------------------------
 Contact__c                 | 0030K0000268DwjQAE
 Min_IT_Loan_ID__c          | 5157618
 Opp_Number__c              | 4956818
 Id                         | 0062x00000DX9MbAAL
 AccountID                  | 0010K00002BU4fZQAT
 Number_Of_Loans_Granted__c | 28
 Num_Of_Loans_Paid__c       | 27.0
 Purpose_of_Loan__c         | Medical Expenses
 Total_Repayments__c        | 10
 Amount                     | 200
 Term_in_Weeks__c           | 10.286
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 2652
 loanId                     | 3665
 count                      | 26.0
 LoanIdFormat               | 2
-RECORD 14-----------------------------------------
 Contact__c                 | 0032x000002dbcdAAA
 Min_IT_Loan_ID__c          | 937149
 Opp_Number__c              | 5400052
 Id                         | 0062x00000DUtwDAAT
 AccountID                  | 0012x000003EknwAAC
 Number_Of_Loans_Granted__c | 27
 Num_Of_Loans_Paid__c       | 24.0
 Purpose_of_Loan__c         | Veterinary Expenses
 Total_Repayments__c        | 6
 Amount                     | 200
 Term_in_Weeks__c           | 6.857
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1566
 loanId                     | 1314
 count                      | 21.0
 LoanIdFormat               | 2
-RECORD 15-----------------------------------------
 Contact__c                 | 0032x000002dbcdAAA
 Min_IT_Loan_ID__c          | 908555
 Opp_Number__c              | 5067364
 Id                         | 0062x00000DZ0HiAAL
 AccountID                  | 0012x000003EknwAAC
 Number_Of_Loans_Granted__c | 27
 Num_Of_Loans_Paid__c       | 23.0
 Purpose_of_Loan__c         | Medical Expenses
 Total_Repayments__c        | 8
 Amount                     | 200
 Term_in_Weeks__c           | 7.714
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1566
 loanId                     | 3206
 count                      | 19.0
 LoanIdFormat               | 2
-RECORD 16-----------------------------------------
 Contact__c                 | 0032x000002dbcdAAA
 Min_IT_Loan_ID__c          | 854843
 Opp_Number__c              | 4607879
 Id                         | 0062x00000D9zUhAAJ
 AccountID                  | 0012x000003EknwAAC
 Number_Of_Loans_Granted__c | 27
 Num_Of_Loans_Paid__c       | 22.0
 Purpose_of_Loan__c         | Veterinary Expenses
 Total_Repayments__c        | 14
 Amount                     | 200
 Term_in_Weeks__c           | 13.857
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1566
 loanId                     | 3685
 count                      | 17.0
 LoanIdFormat               | 2
-RECORD 17-----------------------------------------
 Contact__c                 | 0030K00001nYvKiQAK
 Min_IT_Loan_ID__c          | 5149478
 Opp_Number__c              | 4575350
 Id                         | 0062x00000D9I5HAAV
 AccountID                  | 0010K000021E92QQAS
 Number_Of_Loans_Granted__c | 27
 Num_Of_Loans_Paid__c       | 25.0
 Purpose_of_Loan__c         | Life Event Expenses
 Total_Repayments__c        | 6
 Amount                     | 200
 Term_in_Weeks__c           | 5.571
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 531
 loanId                     | 158
 count                      | 23.0
 LoanIdFormat               | 2
-RECORD 18-----------------------------------------
 Contact__c                 | 0032x0000042fZ6AAI
 Min_IT_Loan_ID__c          | 793455
 Opp_Number__c              | 4036693
 Id                         | 0062x00000Ci18kAAB
 AccountID                  | 0012x000005TO9PAAW
 Number_Of_Loans_Granted__c | 51
 Num_Of_Loans_Paid__c       | 41.0
 Purpose_of_Loan__c         | Living Expenses
 Total_Repayments__c        | 7
 Amount                     | 200
 Term_in_Weeks__c           | 7.429
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 1635
 loanId                     | 698
 count                      | 31.0
 LoanIdFormat               | 2
-RECORD 19-----------------------------------------
 Contact__c                 | 0032x000002db0PAAQ
 Min_IT_Loan_ID__c          | 5139137
 Opp_Number__c              | 4019668
 Id                         | 0062x00000ChfdWAAR
 AccountID                  | 0012x000003EkGYAA0
 Number_Of_Loans_Granted__c | 47
 Num_Of_Loans_Paid__c       | 42.0
 Purpose_of_Loan__c         | Furniture or Appl...
 Total_Repayments__c        | 10
 Amount                     | 200
 Term_in_Weeks__c           | 10.0
 Payment_Frequency__c       | Weekly
 StageName                  | Loan Paid
 userId                     | 83
 loanId                     | 2986
 count                      | 37.0
 LoanIdFormat               | 2
only showing top 20 rows

In [9]:
loans_df.orderBy("userId", "loanId").select(["userId","loanId","count"]).show(20)

+------+------+-----+
|userId|loanId|count|
+------+------+-----+
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
|     1|   757|  5.0|
+------+------+-----+
only showing top 20 rows

In [11]:
# Count the number of unique items
num_unique_items = loans_df.select('loanId').distinct().count()
print(f"Number of unique loans: {num_unique_items}")

# Count the number of unique users
num_unique_users = loans_df.select('userId').distinct().count()
print(f"Number of unique users: {num_unique_users}")

Number of unique items: 4594
Number of unique users: 2880

In [ ]:
# # For example, 30% of items will be masked
# percent_items_to_mask = 0.3 
# # Determine the number of items to mask for each user
# df_rec_final = df_rec_filtered.withColumn("num_items_to_mask", (col("num_items") * percent_items_to_mask).cast("int"))
# # Masks items for each user
# df_rec_final = df_rec_final.withColumn("item_rank", rank().over(user_window))

# # Create a StringIndexer model to index the user ID column
# indexer_user = StringIndexer(inputCol='userId', outputCol='userIndex').setHandleInvalid("keep")
# indexer_item = StringIndexer(inputCol='itemId', outputCol='itemIndex').setHandleInvalid("keep")

# # Fit the indexer model to the data and transform the DataFrame
# df_rec_final = indexer_user.fit(df_rec_final).transform(df_rec_final)
# df_rec_final = indexer_item.fit(df_rec_final).transform(df_rec_final)

# # Convert the userIndex column to integer type
# df_rec_final = df_rec_final.withColumn('userIndex', df_rec_final['userIndex'].cast('integer'))\
#                .withColumn('itemIndex', df_rec_final['itemIndex'].cast('integer'))

# train_df_rec = df_rec_final.filter(col("item_rank") > col("num_items_to_mask"))
# test_df_rec = df_rec_final.filter(col("item_rank") <= col("num_items_to_mask"))

In [16]:
training_df, validation_df = loans_df.randomSplit([.7,.3])

In [18]:
# Configure the ALS model
als = ALS(userCol='userId', itemCol='loanId', ratingCol='count',
          coldStartStrategy='drop', nonnegative=True)

param_grid = ParamGridBuilder()\
             .addGrid(als.rank, [1, 20, 30])\
             .addGrid(als.maxIter, [20])\
             .addGrid(als.regParam, [.05, .15])\
             .build()
evaluator = RegressionEvaluator(metricName='rmse', labelCol='count', predictionCol='prediction')

cv = CrossValidator(
        estimator=als,
        estimatorParamMaps=param_grid,
        evaluator=evaluator,
        numFolds=3)

In [19]:
model = cv.fit(training_df)

best_model = model.bestModel
print('rank: ', best_model.rank)
print('MaxIter: ', best_model._java_obj.parent().getMaxIter())
print('RegParam: ', best_model._java_obj.parent().getRegParam())

rank:  30
MaxIter:  20
RegParam:  0.05

In [21]:
# Train the model using the training data
model = als.fit(training_df)

# Generate predictions on the test data
predictions = best_model.transform(validation_df)
predictions = predictions.withColumn("prediction", expr("CASE WHEN prediction < 1 THEN 1 WHEN prediction > 5 THEN 5 ELSE prediction END"))

evaluator = RegressionEvaluator(metricName='rmse', labelCol='count', predictionCol='prediction')
rmse = evaluator.evaluate(predictions)
print(f'Root Mean Squared Error (RMSE): {rmse}')

Root Mean Squared Error (RMSE): 16.734374641288362

In [28]:
predictions.columns

['Contact__c',
 'Min_IT_Loan_ID__c',
 'Opp_Number__c',
 'Id',
 'AccountID',
 'Number_Of_Loans_Granted__c',
 'Num_Of_Loans_Paid__c',
 'Purpose_of_Loan__c',
 'Total_Repayments__c',
 'Amount',
 'Term_in_Weeks__c',
 'Payment_Frequency__c',
 'StageName',
 'userId',
 'loanId',
 'count',
 'LoanIdFormat',
 'prediction']

In [37]:
from pyspark.mllib.evaluation import RankingMetrics
from pyspark.sql.functions import col, collect_list

# Convert the predictions DataFrame to include all predictions per user
# Generate top-k recommendations for each user
userRecs = best_model.recommendForAllUsers(5)  # Top-100 recommendations for each user

# Prepare the input for RankingMetrics
user_ground_truth = validation_df.groupby('userId').agg(collect_list('loanId').alias('ground_truth_items'))
user_train_items = training_df.groupby('userId').agg(collect_list('loanId').alias('train_items'))

# Join the recommendations and ground truth data on the user ID
user_eval = userRecs.join(user_ground_truth, on='userId').join(user_train_items, on='userId') \
    .select('userId', 'recommendations.loanId', 'ground_truth_items', 'train_items', 'recommendations.rating')

In [38]:
user_eval.show()

+------+--------------------+--------------------+--------------------+--------------------+
|userId|              loanId|  ground_truth_items|         train_items|              rating|
+------+--------------------+--------------------+--------------------+--------------------+
|     1|[2340, 752, 2539,...|[757, 757, 757, 7...|[757, 757, 757, 7...|[34.93072, 33.803...|
|     3|[196, 999, 550, 8...|[2521, 2521, 2521...|[2521, 2521, 2521...|[30.76846, 29.876...|
|    12|[55, 50, 49, 48, 47]|[3460, 3460, 3460...|[3460, 3460, 3460...|[0.0, 0.0, 0.0, 0...|
|    13|[2200, 3057, 3752...|[110, 110, 110, 1...|[110, 110, 110, 1...|[24.66851, 23.622...|
|    16|[1888, 96, 4152, ...|[628, 628, 628, 6...|[628, 628, 628, 6...|[29.585476, 29.54...|
|    20|[96, 4152, 2378, ...|[3164, 3164, 3164...|[3164, 3164, 3164...|[27.812405, 26.74...|
|    22|[196, 999, 550, 8...|[3651, 3651, 3651...|[3651, 3651, 3651...|[32.11654, 31.185...|
|    26|[3649, 2340, 2550...|[2256, 2256, 2256...|[2256, 2256, 2256...|[18.452265, 16.93...|
|    27|[625, 2720, 2998,...|[1169, 1169, 1169...|[1169, 1169, 1169...|[33.99434, 32.822...|
|    28|[2340, 752, 625, ...|[3025, 3025, 3025...|[3025, 3025, 3025...|[48.776554, 47.20...|
|    31|[1346, 4497, 1403...|[4504, 4504, 4504...|[4504, 4504, 4504...|[25.319637, 25.25...|
|    34|[196, 999, 550, 9...|[2887, 2887, 2887...|[2887, 2887, 2887...|[22.615854, 21.96...|
|    40|[394, 1488, 1263,...|[2820, 2820, 2820...|[2820, 2820, 2820...|[29.995087, 29.13...|
|    44|[625, 2720, 2998,...|[2012, 2012, 3396...|[2012, 2012, 2012...|[33.69727, 32.535...|
|    47|[625, 3785, 2720,...|[2901, 2901, 2901...|[2901, 2901, 2901...|[28.35805, 27.801...|
|    52|[96, 4152, 2340, ...|[3515, 3515, 3515...|[3515, 3515, 3515...|[27.502756, 26.44...|
|    53|[4497, 3038, 96, ...|[3008, 3008, 3008...|[3008, 3008, 3008...|[22.3909, 21.4173...|
|    65|[1665, 2378, 4577...|[2888, 2888, 2888...|[2888, 2888, 2888...|[23.93837, 23.123...|
|    76|[1665, 4577, 886,...|[2664, 2664, 2664...|[2664, 2664, 2664...|[26.315252, 25.21...|
|    78|[1488, 625, 1263,...|[2996, 2996, 2996...|[2996, 2996, 2996...|[27.78173, 27.594...|
+------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [39]:
user_eval_pandas = user_eval.toPandas()

In [40]:
user_eval_pandas.head()

,userId,loanId,ground_truth_items,train_items,rating
0,1,"[2340, 752, 2539, 2338, 2342]","[757, 757, 757, 757, 757, 757, 757]","[757, 757, 757, 757, 757, 757, 757, 757, 757, ...","[34.930721282958984, 33.80392074584961, 25.342..."
1,3,"[196, 999, 550, 862, 1005]","[2521, 2521, 2521, 2521, 2521, 2521, 2521, 252...","[2521, 2521, 2521, 2521, 2521, 2521, 2521, 252...","[30.76845932006836, 29.876619338989258, 28.984..."
2,12,"[55, 50, 49, 48, 47]","[3460, 3460, 3460, 3460, 3460, 3460, 3460, 346...","[3460, 3460, 3460, 3460, 3460, 3460, 3460, 346...","[0.0, 0.0, 0.0, 0.0, 0.0]"
3,13,"[2200, 3057, 3752, 2340, 4441]","[110, 110, 110, 110, 110, 110, 110, 110, 110, ...","[110, 110, 110, 110, 110, 110, 110, 110, 110, ...","[24.66851043701172, 23.622922897338867, 23.572..."
4,16,"[1888, 96, 4152, 2206, 108]","[628, 628, 628, 628, 628, 628, 628, 628, 628, ...","[628, 628, 628, 628, 628, 628, 628, 628, 628, ...","[29.58547592163086, 29.548614501953125, 28.412..."

In [41]:
user_eval_pandas['itemIndex_filtered'] = user_eval_pandas.apply(lambda x:[b for (b,z) in zip(x.loanId, x.rating) if b not in x.train_items], axis=1)
user_eval_pandas['rating_filtered'] = user_eval_pandas.apply(lambda x:[z for (b,z) in zip(x.loanId, x.rating) if b not in x.train_items], axis=1)

In [42]:
user_eval_pandas.head()

,userId,loanId,ground_truth_items,train_items,rating,itemIndex_filtered,rating_filtered
0,1,"[2340, 752, 2539, 2338, 2342]","[757, 757, 757, 757, 757, 757, 757]","[757, 757, 757, 757, 757, 757, 757, 757, 757, ...","[34.930721282958984, 33.80392074584961, 25.342...","[2340, 752, 2539, 2338, 2342]","[34.930721282958984, 33.80392074584961, 25.342..."
1,3,"[196, 999, 550, 862, 1005]","[2521, 2521, 2521, 2521, 2521, 2521, 2521, 252...","[2521, 2521, 2521, 2521, 2521, 2521, 2521, 252...","[30.76845932006836, 29.876619338989258, 28.984...","[196, 999, 550, 862, 1005]","[30.76845932006836, 29.876619338989258, 28.984..."
2,12,"[55, 50, 49, 48, 47]","[3460, 3460, 3460, 3460, 3460, 3460, 3460, 346...","[3460, 3460, 3460, 3460, 3460, 3460, 3460, 346...","[0.0, 0.0, 0.0, 0.0, 0.0]","[55, 50, 49, 48, 47]","[0.0, 0.0, 0.0, 0.0, 0.0]"
3,13,"[2200, 3057, 3752, 2340, 4441]","[110, 110, 110, 110, 110, 110, 110, 110, 110, ...","[110, 110, 110, 110, 110, 110, 110, 110, 110, ...","[24.66851043701172, 23.622922897338867, 23.572...","[2200, 3057, 3752, 2340, 4441]","[24.66851043701172, 23.622922897338867, 23.572..."
4,16,"[1888, 96, 4152, 2206, 108]","[628, 628, 628, 628, 628, 628, 628, 628, 628, ...","[628, 628, 628, 628, 628, 628, 628, 628, 628, ...","[29.58547592163086, 29.548614501953125, 28.412...","[1888, 96, 4152, 2206, 108]","[29.58547592163086, 29.548614501953125, 28.412..."

In [44]:
import numpy as np
import math
def score(predicted, actual, metric):
        """
        Parameters
        ----------
        predicted : List
            List of predicted apps.
        actual : List
            List of masked apps.
        metric : 'precision' or 'ndcg'
            A valid metric for recommendation.
        Raises
        -----
        Returns
        -------
        m : float
            score.
        """
        valid_metrics = ['precision', 'ndcg']
        if metric not in valid_metrics:
            raise Exception(f"Choose one valid baseline in the list: {valid_metrics}")
        if metric == 'precision':
            m = np.mean([float(len(set(predicted[:k]) 
                                               & set(actual))) / float(k) 
                                     for k in range(1,len(actual)+1)])
        if metric == 'ndcg':
            v = [1 if i in actual else 0 for i in predicted]
            v_2 = [1 for i in actual]
            dcg = sum([(2**i-1)/math.log(k+2,2) for (k,i) in enumerate(v)])
            idcg = sum([(2**i-1)/math.log(k+2,2) for (k,i) in enumerate(v_2)])
            m = dcg/idcg
        return m

user_eval_pandas['precision'] = user_eval_pandas.apply(lambda x: score(x.itemIndex_filtered, x.ground_truth_items, 'precision'), axis=1)
user_eval_pandas['NDCG'] = user_eval_pandas.apply(lambda x: score(x.itemIndex_filtered, x.ground_truth_items, 'ndcg'), axis=1)

MAP = user_eval_pandas.precision.mean()
avg_NDCG = user_eval_pandas.NDCG.mean()

In [48]:
user_eval_pandas.head()

,userId,loanId,ground_truth_items,train_items,rating,itemIndex_filtered,rating_filtered,precision,NDCG
0,1,"[2340, 752, 2539, 2338, 2342]","[757, 757, 757, 757, 757, 757, 757]","[757, 757, 757, 757, 757, 757, 757, 757, 757, ...","[34.930721282958984, 33.80392074584961, 25.342...","[2340, 752, 2539, 2338, 2342]","[34.930721282958984, 33.80392074584961, 25.342...",0.0,0.0
1,3,"[196, 999, 550, 862, 1005]","[2521, 2521, 2521, 2521, 2521, 2521, 2521, 252...","[2521, 2521, 2521, 2521, 2521, 2521, 2521, 252...","[30.76845932006836, 29.876619338989258, 28.984...","[196, 999, 550, 862, 1005]","[30.76845932006836, 29.876619338989258, 28.984...",0.0,0.0
2,12,"[55, 50, 49, 48, 47]","[3460, 3460, 3460, 3460, 3460, 3460, 3460, 346...","[3460, 3460, 3460, 3460, 3460, 3460, 3460, 346...","[0.0, 0.0, 0.0, 0.0, 0.0]","[55, 50, 49, 48, 47]","[0.0, 0.0, 0.0, 0.0, 0.0]",0.0,0.0
3,13,"[2200, 3057, 3752, 2340, 4441]","[110, 110, 110, 110, 110, 110, 110, 110, 110, ...","[110, 110, 110, 110, 110, 110, 110, 110, 110, ...","[24.66851043701172, 23.622922897338867, 23.572...","[2200, 3057, 3752, 2340, 4441]","[24.66851043701172, 23.622922897338867, 23.572...",0.0,0.0
4,16,"[1888, 96, 4152, 2206, 108]","[628, 628, 628, 628, 628, 628, 628, 628, 628, ...","[628, 628, 628, 628, 628, 628, 628, 628, 628, ...","[29.58547592163086, 29.548614501953125, 28.412...","[1888, 96, 4152, 2206, 108]","[29.58547592163086, 29.548614501953125, 28.412...",0.0,0.0

In [49]:
user_eval_pandas.describe()

            userId  precision    NDCG
count  2863.000000     2863.0  2863.0
mean   1440.907440        0.0     0.0
std     831.205243        0.0     0.0
min       1.000000        0.0     0.0
25%     722.500000        0.0     0.0
50%    1440.000000        0.0     0.0
75%    2159.500000        0.0     0.0
max    2880.000000        0.0     0.0