In [6]:
import pandas as pd
import numpy as np

In [76]:
df = pd.read_csv("usersCSV.csv")

In [78]:
df.head(20)

   Id  names
0   A     10
1   B    100
2   R     99
3   C     77
4   K     34
5   D      3
6   E      2
7   M     33
8   N     22
9   o     11
10  z     90
11  F      4

In [15]:
AccountMapperobj = {ele: count for count, ele in enumerate(sorted(list(set(df['AccountID']))), 1)}

accId,accindex = [],[]
[(accId.append(key),accindex.append(val)) for key,val in AccountMapperobj.items()]
AccountMapperDf = pd.DataFrame({"accountId":accId,
                                "accountIndex":accindex})

AccountMapperDf.to_csv("AccountMapperObjDF.csv",index=False)

df['userId'] = df['AccountID'].map(AccountMapperobj)

In [23]:
loand_df = pd.read_csv("userandids.csv")

In [25]:
loand_df.head(20)

   Names  Ids
0      A   10
1      B  100
2      R   99
3      C   77
4      K   34
5      D    3
6      E    2
7      M   33
8      N   22
9      o   11
10     z   90
11     F    4

In [26]:
df_accountmapping  = pd.read_csv("AccountMapperObjDF.csv")
df_accountmapping.head()

  accountId  accountIndex
0         A             1
1         B             2
2         C             3
3         D             4
4         E             5

In [27]:
# {ele: count for count, ele in enumerate(sorted(list(set(df['AccountID']))), 1) }
accountmapping = {ele:index for ele,index in zip(df_accountmapping["accountId"],df_accountmapping["accountIndex"])  }

In [60]:
prevmaxID = max(df_accountmapping['accountIndex'])

In [40]:
df1T = loand_df.copy()

In [42]:
df1T["userId"] = df1T['Names'].map(accountmapping)

In [43]:
df1T.head(20)

   Names  Ids  userId
0      A   10     1.0
1      B  100     2.0
2      R   99     7.0
3      C   77     3.0
4      K   34     6.0
5      D    3     4.0
6      E    2     5.0
7      M   33     NaN
8      N   22     NaN
9      o   11     NaN
10     z   90     NaN
11     F    4     NaN

In [54]:
# rows_with_nan = df[df[column_to_check].isna()]

rows_with_nan = df1T[df1T['userId'].isnull()]

In [61]:
prevmaxID

7

In [70]:
AccountMapperobjTmp = {ele: count for count, ele in enumerate(sorted(list(set(rows_with_nan['Names']))), prevmaxID+1) }

accountmapping.update(AccountMapperobjTmp)

df1T["userId"] = df1T['Names'].map(accountmapping)

In [74]:
accId,accindex = [],[]
[(accId.append(key),accindex.append(val)) for key,val in accountmapping.items()]
AccountMapperDf = pd.DataFrame({"accountId":accId,
                                "accountIndex":accindex})

In [75]:
import os
# File path
file_path,loan_file_path = "AccountMapperDf.csv","LoanMapperDf.csv"

# Check if the file exists
if os.path.exists(file_path): # and os.path.exists(loan_file_path):
    # Delete the existing file
    os.remove(file_path)
    # os.remove(loan_file_path)
    print(f"File '{file_path} and {loan_file_path}' deleted.")

AccountMapperDf.to_csv(file_path,index=False)
# LoanMapperDf.to_csv(loan_file_path,index=False)

print(f"New files '{file_path}' and '{loan_file_path}' created.")

File 'AccountMapperDf.csv and LoanMapperDf.csv' deleted.
New files 'AccountMapperDf.csv' and 'LoanMapperDf.csv' created.