In [1]:
import os
import time
import gc
import argparse

# data science imports
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

In [3]:
df_loans=pd.read_csv('Data/df_created_.csv')

## print shape of dataset with rows and columns
print(df_loans.shape)

df_loans.info()

(17079, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17079 entries, 0 to 17078
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Min_IT_Loan_ID__c           17079 non-null  float64
 1   Opp_Number__c               17079 non-null  float64
 2   Id                          17079 non-null  object
 3   AccountID                   17079 non-null  object
 4   Number_Of_Loans_Granted__c  17079 non-null  float64
 5   Num_Of_Loans_Paid__c        17079 non-null  float64
 6   Purpose_of_Loan__c          17079 non-null  object
 7   Total_Repayments__c         17079 non-null  float64
 8   Amount                      17079 non-null  float64
 9   Term_in_Weeks__c            17079 non-null  float64
 10  Payment_Frequency__c        17079 non-null  object
 11  StageName                   17079 non-null  object
 12  Applicant Age               17079 non-null  float64
 13  userId                      17079 non-null  int64
 14  loanId                      17079 non-null  int64
 15  count                       17079 non-null  int64
 16  LoanIdFormat                17079 non-null  int64
dtypes: float64(8), int64(4), object(5)
memory usage: 2.2+ MB

In [4]:
df_loans.head()

,Min_IT_Loan_ID__c,Opp_Number__c,Id,AccountID,Number_Of_Loans_Granted__c,Num_Of_Loans_Paid__c,Purpose_of_Loan__c,Total_Repayments__c,Amount,Term_in_Weeks__c,Payment_Frequency__c,StageName,Applicant Age,userId,loanId,count,LoanIdFormat
0,1014484.0,6327397.0,0062x00000Ec3OhAAJ,0012x00000hYeJ7AAK,6.0,3.0,Living Expenses,4.0,1250.0,16.000,Monthly,Loan Paid,39.0,10132,12931,0,1
1,945258.0,5519027.0,0062x00000E3omCAAR,0010K00001cQWDjQAO,47.0,46.0,Travel Expenses,5.0,2050.0,20.143,Monthly,Loan Paid,43.0,37,10736,5,1
2,919931.0,5180314.0,0062x00000DrdLCAAZ,0010K00001cQWDjQAO,47.0,45.0,Travel Expenses,4.0,2050.0,16.429,Monthly,Loan Paid,43.0,37,2729,5,1
3,939812.0,5431995.0,0062x00000DVGTYAA5,0010K00001hTzwHQAS,46.0,44.0,Living Expenses,5.0,2050.0,19.857,Monthly,Loan Paid,36.0,146,2281,5,1
4,911555.0,5098387.0,0062x00000DZWmGAAX,0010K00001cQWDjQAO,47.0,44.0,Home Maintenance & Repairs,2.0,2000.0,5.000,Monthly,Loan Paid,43.0,37,2608,5,1

In [5]:
df_loans.columns

Index(['Min_IT_Loan_ID__c', 'Opp_Number__c', 'Id', 'AccountID',
       'Number_Of_Loans_Granted__c', 'Num_Of_Loans_Paid__c',
       'Purpose_of_Loan__c', 'Total_Repayments__c', 'Amount',
       'Term_in_Weeks__c', 'Payment_Frequency__c', 'StageName',
       'Applicant Age', 'userId', 'loanId', 'count', 'LoanIdFormat'],
      dtype='object')

In [6]:
df_loans_filter= df_loans.drop(['Min_IT_Loan_ID__c', 'Opp_Number__c', 'Id', 'AccountID',
                               'Number_Of_Loans_Granted__c', 'Num_Of_Loans_Paid__c',
                               'Purpose_of_Loan__c', 'Total_Repayments__c', 'Amount',
                               'Term_in_Weeks__c', 'Payment_Frequency__c', 'StageName',
                               'Applicant Age'],axis=1)

# print shape of dataset with rows and columns
print(df_loans_filter.shape)

df_loans_filter.info()

(17079, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17079 entries, 0 to 17078
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   userId        17079 non-null  int64
 1   loanId        17079 non-null  int64
 2   count         17079 non-null  int64
 3   LoanIdFormat  17079 non-null  int64
dtypes: int64(4)
memory usage: 533.8 KB

In [7]:
df_loans_filter.head()

   userId  loanId  count  LoanIdFormat
0   10132   12931      0             1
1      37   10736      5             1
2      37    2729      5             1
3     146    2281      5             1
4      37    2608      5             1

In [18]:
df_loans_filter.userId.value_counts()

userId
2870     22
1571     22
1614     20
10138    20
513      18
         ..
4178      1
4864      1
4260      1
4622      1
6711      1
Name: count, Length: 8179, dtype: int64

In [19]:
df_loans_filter.loanId.value_counts()

loanId
4371     10
13539    10
13438    10
13721    10
13512    10
         ..
6988      1
7046      1
7112      1
7076      1
8806      1
Name: count, Length: 10576, dtype: int64

In [12]:
df_loans_cnt = pd.DataFrame(
            df_loans_filter.groupby('loanId').size(),
            columns=['count'])
popular_loans = list(set(df_loans_cnt.query('count >= 10 ').index))  # noqa
loans_filter = df_loans_filter.loanId.isin(popular_loans).values

df_users_cnt = pd.DataFrame(
            df_loans_filter.groupby('userId').size(),
            columns=['count'])
active_users = list(set(df_users_cnt.query('count >= 22').index))  # noqa
users_filter = df_loans_filter.userId.isin(active_users).values

In [13]:
loans_filter

array([False, False, False, ..., False, False, False])

In [14]:
users_filter

array([False, False, False, ..., False, False, False])

In [15]:
df_ratings_filtered = df_loans_filter[loans_filter & users_filter]

In [16]:
df_ratings_filtered.head()

Empty DataFrame
Columns: [userId, loanId, count, LoanIdFormat]
Index: []

In [20]:
ddff = df_loans_filter.drop_duplicates(subset=['userId'], keep='first', inplace=False)

In [21]:
ddff.head()

   userId  loanId  count  LoanIdFormat
0   10132   12931      0             1
1      37   10736      5             1
3     146    2281      5             1
5     539    3141      5             1
6    1237    2772      4             1

In [22]:
ddff.shape

(8179, 4)

In [24]:
# pivot and create movie-user matrix
loans_user_mat = ddff.pivot(
    index='loanId', columns='userId', values='count').fillna(0)

In [25]:
loans_user_mat

userId,1,2,3,4,5,6,7,8,9,10,...,10134,10135,10136,10137,10138,10139,10140,10141,10142,10143
loanId,,,,,,,,,,,,,,,,,,,,,
249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
309,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
436,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13897,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13899,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13900,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
# create mapper from loan title to index
hashmap = {
        movie: i for i, movie in
            enumerate(list(df_movies.set_index('movieId').loc[movie_user_mat.index].title)) # noqa
}

In [43]:
hashmap

{'Toy Story (1995)': 0,
 'Jumanji (1995)': 1,
 'Grumpier Old Men (1995)': 2,
 'Heat (1995)': 3,
 'Sabrina (1995)': 4,
 'GoldenEye (1995)': 5,
 'American President, The (1995)': 6,
 'Casino (1995)': 7,
 'Sense and Sensibility (1995)': 8,
 'Ace Ventura: When Nature Calls (1995)': 9,
 'Get Shorty (1995)': 10,
 'Leaving Las Vegas (1995)': 11,
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)': 12,
 'Babe (1995)': 13,
 'Dead Man Walking (1995)': 14,
 'Clueless (1995)': 15,
 'Seven (a.k.a. Se7en) (1995)': 16,
 'Pocahontas (1995)': 17,
 'Usual Suspects, The (1995)': 18,
 "Mr. Holland's Opus (1995)": 19,
 'From Dusk Till Dawn (1996)': 20,
 'Broken Arrow (1996)': 21,
 'Happy Gilmore (1996)': 22,
 'Braveheart (1995)': 23,
 'Taxi Driver (1976)': 24,
 'Birdcage, The (1996)': 25,
 'Bad Boys (1995)': 26,
 'Apollo 13 (1995)': 27,
 'Batman Forever (1995)': 28,
 'Casper (1995)': 29,
 'Congo (1995)': 30,
 'Crimson Tide (1995)': 31,
 'Desperado (1995)': 32,
 'Die Hard: With a Vengeance (1995)': 33,
 'First Knight (1995)': 34,
 'Johnny Mnemonic (1995)': 35,
 'Judge Dredd (1995)': 36,
 'Net, The (1995)': 37,
 'Waterworld (1995)': 38,
 'Clerks (1994)': 39,
 'Disclosure (1994)': 40,
 'Dumb & Dumber (Dumb and Dumber) (1994)': 41,
 'Ed Wood (1994)': 42,
 'Interview with the Vampire: The Vampire Chronicles (1994)': 43,
 'Star Wars: Episode IV - A New Hope (1977)': 44,
 'Legends of the Fall (1994)': 45,
 'Natural Born Killers (1994)': 46,
 'Outbreak (1995)': 47,
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)': 48,
 'Pulp Fiction (1994)': 49,
 'Quiz Show (1994)': 50,
 'Stargate (1994)': 51,
 'Santa Clause, The (1994)': 52,
 'Shawshank Redemption, The (1994)': 53,
 'Star Trek: Generations (1994)': 54,
 'Tommy Boy (1995)': 55,
 "What's Eating Gilbert Grape (1993)": 56,
 'While You Were Sleeping (1995)': 57,
 'Ace Ventura: Pet Detective (1994)': 58,
 'Clear and Present Danger (1994)': 59,
 'Client, The (1994)': 60,
 'Crow, The (1994)': 61,
 'Forrest Gump (1994)': 62,
 'Four Weddings and a Funeral (1994)': 63,
 'Lion King, The (1994)': 64,
 'Mask, The (1994)': 65,
 'Maverick (1994)': 66,
 'Naked Gun 33 1/3: The Final Insult (1994)': 67,
 'Speed (1994)': 68,
 'True Lies (1994)': 69,
 'Addams Family Values (1993)': 70,
 'Beverly Hills Cop III (1994)': 71,
 "City Slickers II: The Legend of Curly's Gold (1994)": 72,
 'Cliffhanger (1993)': 73,
 'Coneheads (1993)': 74,
 'Dave (1993)': 75,
 'Demolition Man (1993)': 76,
 'Firm, The (1993)': 77,
 'Fugitive, The (1993)': 78,
 'Hot Shots! Part Deux (1993)': 79,
 'In the Line of Fire (1993)': 80,
 'Jurassic Park (1993)': 81,
 'Last Action Hero (1993)': 82,
 'Mrs. Doubtfire (1993)': 83,
 'Philadelphia (1993)': 84,
 'Piano, The (1993)': 85,
 'Robin Hood: Men in Tights (1993)': 86,
 "Schindler's List (1993)": 87,
 'Sleepless in Seattle (1993)': 88,
 'Blade Runner (1982)': 89,
 'Nightmare Before Christmas, The (1993)': 90,
 'Three Musketeers, The (1993)': 91,
 'Tombstone (1993)': 92,
 'True Romance (1993)': 93,
 'Home Alone (1990)': 94,
 'Ghost (1990)': 95,
 'Aladdin (1992)': 96,
 'Terminator 2: Judgment Day (1991)': 97,
 'Dances with Wolves (1990)': 98,
 'Batman (1989)': 99,
 'Silence of the Lambs, The (1991)': 100,
 'Snow White and the Seven Dwarfs (1937)': 101,
 'Beauty and the Beast (1991)': 102,
 'Pinocchio (1940)': 103,
 'Pretty Woman (1990)': 104,
 'Fargo (1996)': 105,
 'Mission: Impossible (1996)': 106,
 'Dragonheart (1996)': 107,
 'Space Jam (1996)': 108,
 'Truth About Cats & Dogs, The (1996)': 109,
 'Rock, The (1996)': 110,
 'Twister (1996)': 111,
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)': 112,
 'Trainspotting (1996)': 113,
 'Independence Day (a.k.a. ID4) (1996)': 114,
 'Cable Guy, The (1996)': 115,
 'Eraser (1996)': 116,
 'Nutty Professor, The (1996)': 117,
 'Godfather, The (1972)': 118,
 'Vertigo (1958)': 119,
 'Rear Window (1954)': 120,
 'North by Northwest (1959)': 121,
 'Some Like It Hot (1959)': 122,
 'Casablanca (1942)': 123,
 'Wizard of Oz, The (1939)': 124,
 'Citizen Kane (1941)': 125,
 '2001: A Space Odyssey (1968)': 126,
 "It's a Wonderful Life (1946)": 127,
 'Mary Poppins (1964)': 128,
 'Sound of Music, The (1965)': 129,
 'Die Hard (1988)': 130,
 'Willy Wonka & the Chocolate Factory (1971)': 131,
 'Fish Called Wanda, A (1988)': 132,
 "Monty Python's Life of Brian (1979)": 133,
 'Reservoir Dogs (1992)': 134,
 'Platoon (1986)': 135,
 'E.T. the Extra-Terrestrial (1982)': 136,
 'Top Gun (1986)': 137,
 'Abyss, The (1989)': 138,
 'Monty Python and the Holy Grail (1975)': 139,
 'Wallace & Gromit: The Wrong Trousers (1993)': 140,
 "One Flew Over the Cuckoo's Nest (1975)": 141,
 'Star Wars: Episode V - The Empire Strikes Back (1980)': 142,
 'Princess Bride, The (1987)': 143,
 'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)': 144,
 'Brazil (1985)': 145,
 'Aliens (1986)': 146,
 'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)': 147,
 '12 Angry Men (1957)': 148,
 'Clockwork Orange, A (1971)': 149,
 'To Kill a Mockingbird (1962)': 150,
 'Apocalypse Now (1979)': 151,
 'Star Wars: Episode VI - Return of the Jedi (1983)': 152,
 'Goodfellas (1990)': 153,
 'Alien (1979)': 154,
 'Army of Darkness (1993)': 155,
 'Psycho (1960)': 156,
 'Blues Brothers, The (1980)': 157,
 'Godfather: Part II, The (1974)': 158,
 'Full Metal Jacket (1987)': 159,
 'Amadeus (1984)': 160,
 'Annie Hall (1977)': 161,
 'Sting, The (1973)': 162,
 'Terminator, The (1984)': 163,
 'Dead Poets Society (1989)': 164,
 'Graduate, The (1967)': 165,
 'Chinatown (1974)': 166,
 'Shining, The (1980)': 167,
 'Stand by Me (1986)': 168,
 'Groundhog Day (1993)': 169,
 'Back to the Future (1985)': 170,
 'Cool Hand Luke (1967)': 171,
 'Young Frankenstein (1974)': 172,
 'Fantasia (1940)': 173,
 'This Is Spinal Tap (1984)': 174,
 'Indiana Jones and the Last Crusade (1989)': 175,
 'Field of Dreams (1989)': 176,
 'Butch Cassidy and the Sundance Kid (1969)': 177,
 'When Harry Met Sally... (1989)': 178,
 'Star Trek: First Contact (1996)': 179,
 'Die Hard 2 (1990)': 180,
 'Star Trek II: The Wrath of Khan (1982)': 181,
 'Batman Returns (1992)': 182,
 'Grease (1978)': 183,
 'Jaws (1975)': 184,
 'Mars Attacks! (1996)': 185,
 'Jerry Maguire (1996)': 186,
 'Raising Arizona (1987)': 187,
 'Scream (1996)': 188,
 'Donnie Brasco (1997)': 189,
 'Liar Liar (1997)': 190,
 'Grosse Pointe Blank (1997)': 191,
 'Austin Powers: International Man of Mystery (1997)': 192,
 'Fifth Element, The (1997)': 193,
 'Lost World: Jurassic Park, The (1997)': 194,
 'Con Air (1997)': 195,
 'Face/Off (1997)': 196,
 'Men in Black (a.k.a. MIB) (1997)': 197,
 'Contact (1997)': 198,
 'Air Force One (1997)': 199,
 'Hunt for Red October, The (1990)': 200,
 'L.A. Confidential (1997)': 201,
 'Game, The (1997)': 202,
 'Chasing Amy (1997)': 203,
 'Full Monty, The (1997)': 204,
 "The Devil's Advocate (1997)": 205,
 'Gattaca (1997)': 206,
 'Starship Troopers (1997)': 207,
 'Truman Show, The (1998)': 208,
 'Good Will Hunting (1997)': 209,
 'Titanic (1997)': 210,
 'Big Lebowski, The (1998)': 211,
 'Wedding Singer, The (1998)': 212,
 'As Good as It Gets (1997)': 213,
 'Armageddon (1998)': 214,
 "There's Something About Mary (1998)": 215,
 'Rocky (1976)': 216,
 'Rain Man (1988)': 217,
 'Breakfast Club, The (1985)': 218,
 'Exorcist, The (1973)': 219,
 'Lethal Weapon (1987)': 220,
 'Goonies, The (1985)': 221,
 'Mask of Zorro, The (1998)': 222,
 'Back to the Future Part II (1989)': 223,
 'Back to the Future Part III (1990)': 224,
 'Saving Private Ryan (1998)': 225,
 'Honey, I Shrunk the Kids (1989)': 226,
 'Jungle Book, The (1967)': 227,
 'Lady and the Tramp (1955)': 228,
 'Little Mermaid, The (1989)': 229,
 'Splash (1984)': 230,
 'Tron (1982)': 231,
 'Indiana Jones and the Temple of Doom (1984)': 232,
 'Blade (1998)': 233,
 'Beetlejuice (1988)': 234,
 'Untouchables, The (1987)': 235,
 'Few Good Men, A (1992)': 236,
 'Edward Scissorhands (1990)': 237,
 'My Cousin Vinny (1992)': 238,
 'Pleasantville (1998)': 239,
 'Life Is Beautiful (La Vita è bella) (1997)': 240,
 'American History X (1998)': 241,
 'Enemy of the State (1998)': 242,
 "Bug's Life, A (1998)": 243,
 'Rushmore (1998)': 244,
 'Shakespeare in Love (1998)': 245,
 'Romancing the Stone (1984)': 246,
 "You've Got Mail (1998)": 247,
 'Crocodile Dundee (1986)': 248,
 'Office Space (1999)': 249,
 'Planet of the Apes (1968)': 250,
 'Lock, Stock & Two Smoking Barrels (1998)': 251,
 'Matrix, The (1999)': 252,
 '10 Things I Hate About You (1999)': 253,
 'Election (1999)': 254,
 'Mummy, The (1999)': 255,
 'Star Wars: Episode I - The Phantom Menace (1999)': 256,
 'Superman (1978)': 257,
 'Rocky Horror Picture Show, The (1975)': 258,
 'Notting Hill (1999)': 259,
 'Austin Powers: The Spy Who Shagged Me (1999)': 260,
 'Run Lola Run (Lola rennt) (1998)': 261,
 'Arachnophobia (1990)': 262,
 'South Park: Bigger, Longer and Uncut (1999)': 263,
 'Wild Wild West (1999)': 264,
 'American Pie (1999)': 265,
 'Blair Witch Project, The (1999)': 266,
 'Eyes Wide Shut (1999)': 267,
 'Ghostbusters (a.k.a. Ghost Busters) (1984)': 268,
 'Sixth Sense, The (1999)': 269,
 'Airplane! (1980)': 270,
 'Big (1988)': 271,
 'Christmas Story, A (1983)': 272,
 'American Beauty (1999)': 273,
 'Total Recall (1990)': 274,
 "Ferris Bueller's Day Off (1986)": 275,
 'Goldfinger (1964)': 276,
 'Fight Club (1999)': 277,
 'RoboCop (1987)': 278,
 'Who Framed Roger Rabbit? (1988)': 279,
 'Being John Malkovich (1999)': 280,
 'Spaceballs (1987)': 281,
 'Dogma (1999)': 282,
 'Sleepy Hollow (1999)': 283,
 'Toy Story 2 (1999)': 284,
 'Green Mile, The (1999)': 285,
 'Magnolia (1999)': 286,
 'Galaxy Quest (1999)': 287,
 "Wayne's World (1992)": 288,
 'Erin Brockovich (2000)': 289,
 'Animal House (1978)': 290,
 'Close Encounters of the Third Kind (1977)': 291,
 'High Fidelity (2000)': 292,
 'Hook (1991)': 293,
 'Predator (1987)': 294,
 'American Psycho (2000)': 295,
 'Caddyshack (1980)': 296,
 'Gladiator (2000)': 297,
 'Mission: Impossible II (2000)': 298,
 'Blazing Saddles (1974)': 299,
 'Gone in 60 Seconds (2000)': 300,
 'Chicken Run (2000)': 301,
 'Patriot, The (2000)': 302,
 'Scary Movie (2000)': 303,
 'X-Men (2000)': 304,
 'Almost Famous (2000)': 305,
 'Best in Show (2000)': 306,
 'Meet the Parents (2000)': 307,
 'Requiem for a Dream (2000)': 308,
 "Charlie's Angels (2000)": 309,
 'Unbreakable (2000)': 310,
 'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)': 311,
 'Snatch (2000)': 312,
 'What Women Want (2000)': 313,
 'Cast Away (2000)': 314,
 'Miss Congeniality (2000)': 315,
 'O Brother, Where Art Thou? (2000)': 316,
 'Traffic (2000)': 317,
 'Memento (2000)': 318,
 'Blow (2001)': 319,
 "Bridget Jones's Diary (2001)": 320,
 'Scarface (1983)': 321,
 'Shrek (2001)': 322,
 'Moulin Rouge (2001)': 323,
 'A.I. Artificial Intelligence (2001)': 324,
 'Legally Blonde (2001)': 325,
 'Others, The (2001)': 326,
 'Training Day (2001)': 327,
 'Zoolander (2001)': 328,
 'Mulholland Drive (2001)': 329,
 'Donnie Darko (2001)': 330,
 'Monsters, Inc. (2001)': 331,
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)": 332,
 "Ocean's Eleven (2001)": 333,
 "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)": 334,
 'Royal Tenenbaums, The (2001)': 335,
 'Lord of the Rings: The Fellowship of the Ring, The (2001)': 336,
 'Beautiful Mind, A (2001)': 337,
 'Black Hawk Down (2001)': 338,
 'Ice Age (2002)': 339,
 'My Big Fat Greek Wedding (2002)': 340,
 'Spider-Man (2002)': 341,
 'Star Wars: Episode II - Attack of the Clones (2002)': 342,
 'Bourne Identity, The (2002)': 343,
 'Minority Report (2002)': 344,
 'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)': 345,
 'Austin Powers in Goldmember (2002)': 346,
 'Signs (2002)': 347,
 'Spirited Away (Sen to Chihiro no kamikakushi) (2001)': 348,
 'Bowling for Columbine (2002)': 349,
 'Harry Potter and the Chamber of Secrets (2002)': 350,
 'Lord of the Rings: The Two Towers, The (2002)': 351,
 'Gangs of New York (2002)': 352,
 'Catch Me If You Can (2002)': 353,
 'City of God (Cidade de Deus) (2002)': 354,
 'X2: X-Men United (2003)': 355,
 'Matrix Reloaded, The (2003)': 356,
 'Bruce Almighty (2003)': 357,
 'Finding Nemo (2003)': 358,
 'Italian Job, The (2003)': 359,
 '28 Days Later (2002)': 360,
 'Pirates of the Caribbean: The Curse of the Black Pearl (2003)': 361,
 'Lost in Translation (2003)': 362,
 'School of Rock (2003)': 363,
 'Mystic River (2003)': 364,
 'Kill Bill: Vol. 1 (2003)': 365,
 'Matrix Revolutions, The (2003)': 366,
 'Love Actually (2003)': 367,
 'Last Samurai, The (2003)': 368,
 'Big Fish (2003)': 369,
 'Lord of the Rings: The Return of the King, The (2003)': 370,
 'Eternal Sunshine of the Spotless Mind (2004)': 371,
 'Kill Bill: Vol. 2 (2004)': 372,
 'Shrek 2 (2004)': 373,
 'Day After Tomorrow, The (2004)': 374,
 'Harry Potter and the Prisoner of Azkaban (2004)': 375,
 'Super Size Me (2004)': 376,
 'Spider-Man 2 (2004)': 377,
 'Anchorman: The Legend of Ron Burgundy (2004)': 378,
 'I, Robot (2004)': 379,
 'Bourne Supremacy, The (2004)': 380,
 'Shaun of the Dead (2004)': 381,
 'Incredibles, The (2004)': 382,
 'Million Dollar Baby (2004)': 383,
 'Charlie and the Chocolate Factory (2005)': 384,
 'Sin City (2005)': 385,
 'Crash (2004)': 386,
 'Star Wars: Episode III - Revenge of the Sith (2005)': 387,
 'Mr. & Mrs. Smith (2005)': 388,
 'Batman Begins (2005)': 389,
 'War of the Worlds (2005)': 390,
 'Wedding Crashers (2005)': 391,
 'Serenity (2005)': 392,
 '40-Year-Old Virgin, The (2005)': 393,
 'Harry Potter and the Goblet of Fire (2005)': 394,
 'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)': 395,
 'V for Vendetta (2006)': 396,
 'X-Men: The Last Stand (2006)': 397,
 "Pirates of the Caribbean: Dead Man's Chest (2006)": 398,
 'Little Miss Sunshine (2006)': 399,
 'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)': 400,
 "Pan's Labyrinth (Laberinto del fauno, El) (2006)": 401,
 'Departed, The (2006)': 402,
 'Children of Men (2006)': 403,
 'Prestige, The (2006)': 404,
 'Casino Royale (2006)': 405,
 'Blood Diamond (2006)': 406,
 'Ratatouille (2007)': 407,
 'Hot Fuzz (2007)': 408,
 '300 (2007)': 409,
 'Knocked Up (2007)': 410,
 "Pirates of the Caribbean: At World's End (2007)": 411,
 'Harry Potter and the Order of the Phoenix (2007)': 412,
 'Bourne Ultimatum, The (2007)': 413,
 'Superbad (2007)': 414,
 'No Country for Old Men (2007)': 415,
 'I Am Legend (2007)': 416,
 'Juno (2007)': 417,
 'Dark Knight, The (2008)': 418,
 'Iron Man (2008)': 419,
 'Kung Fu Panda (2008)': 420,
 'WALL·E (2008)': 421,
 'Slumdog Millionaire (2008)': 422,
 'Inglourious Basterds (2009)': 423,
 'Star Trek (2009)': 424,
 'Up (2009)': 425,
 'Hangover, The (2009)': 426,
 'Harry Potter and the Half-Blood Prince (2009)': 427,
 'District 9 (2009)': 428,
 'Zombieland (2009)': 429,
 'Avatar (2009)': 430,
 'Sherlock Holmes (2009)': 431,
 'Shutter Island (2010)': 432,
 'How to Train Your Dragon (2010)': 433,
 'Toy Story 3 (2010)': 434,
 'Inception (2010)': 435,
 'Social Network, The (2010)': 436,
 "King's Speech, The (2010)": 437,
 'Harry Potter and the Deathly Hallows: Part 2 (2011)': 438,
 'Avengers, The (2012)': 439,
 'The Hunger Games (2012)': 440,
 'Dark Knight Rises, The (2012)': 441,
 'Skyfall (2012)': 442,
 'Django Unchained (2012)': 443,
 'Wolf of Wall Street, The (2013)': 444,
 'Grand Budapest Hotel, The (2014)': 445,
 'Interstellar (2014)': 446,
 'Guardians of the Galaxy (2014)': 447,
 'The Imitation Game (2014)': 448,
 'Deadpool (2016)': 449}

In [44]:
# transform matrix to scipy sparse matrix
movie_user_mat_sparse = csr_matrix(movie_user_mat.values)

In [45]:
movie_user_mat_sparse

<450x385 sparse matrix of type '<class 'numpy.float32'>'
	with 37117 stored elements in Compressed Sparse Row format>

In [12]:
# pivot ratings into movie features
df_movie_features = df_ratings.pivot(
    index='movieId',
    columns='userId',
    values='rating'
).fillna(0)
# convert dataframe of movie features to scipy sparse matrix
mat_movie_features = csr_matrix(df_movie_features.values)

In [13]:
df_movie_features.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
class KnnRecommender:
    """
    This is an item-based collaborative filtering recommender with
    KNN implmented by sklearn
    """
    def __init__(self, path_movies, path_ratings):
        """
        Recommender requires path to data: movies data and ratings data

        Parameters
        ----------
        path_movies: str, movies data file path

        path_ratings: str, ratings data file path
        """
        self.path_movies = path_movies
        self.path_ratings = path_ratings
        self.movie_rating_thres = 0
        self.user_rating_thres = 0
        self.model = NearestNeighbors()

    def set_filter_params(self, movie_rating_thres, user_rating_thres):
        """
        set rating frequency threshold to filter less-known movies and
        less active users

        Parameters
        ----------
        movie_rating_thres: int, minimum number of ratings received by users

        user_rating_thres: int, minimum number of ratings a user gives
        """
        self.movie_rating_thres = movie_rating_thres
        self.user_rating_thres = user_rating_thres

    def set_model_params(self, n_neighbors, algorithm, metric, n_jobs=None):
        """
        set model params for sklearn.neighbors.NearestNeighbors
        (20, 'brute', 'cosine', -1)
        Parameters
        ----------
        n_neighbors: int, optional (default = 5)

        algorithm: {'auto', 'ball_tree', 'kd_tree', 'brute'}, optional

        metric: string or callable, default 'minkowski', or one of
            ['cityblock', 'cosine', 'euclidean', 'l1', 'l2', 'manhattan']

        n_jobs: int or None, optional (default=None)
        """
        if n_jobs and (n_jobs > 1 or n_jobs == -1):
            os.environ['JOBLIB_TEMP_FOLDER'] = '/tmp'
        self.model.set_params(**{
            'n_neighbors': n_neighbors,
            'algorithm': algorithm,
            'metric': metric,
            'n_jobs': n_jobs})

    def _prep_data(self):
        """
        prepare data for recommender

        1. movie-user scipy sparse matrix
        2. hashmap of movie to row index in movie-user scipy sparse matrix
        """
        # read data
        df_movies = pd.read_csv(
            os.path.join(self.path_movies),
            usecols=['movieId', 'title'],
            dtype={'movieId': 'int32', 'title': 'str'})
        df_ratings = pd.read_csv(
            os.path.join(self.path_ratings),
            usecols=['userId', 'movieId', 'rating'],
            dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})
        # filter data
        df_movies_cnt = pd.DataFrame(
            df_ratings.groupby('movieId').size(),
            columns=['count'])
        popular_movies = list(set(df_movies_cnt.query('count >= @self.movie_rating_thres').index))  # noqa
        movies_filter = df_ratings.movieId.isin(popular_movies).values

        df_users_cnt = pd.DataFrame(
            df_ratings.groupby('userId').size(),
            columns=['count'])
        active_users = list(set(df_users_cnt.query('count >= @self.user_rating_thres').index))  # noqa
        users_filter = df_ratings.userId.isin(active_users).values

        df_ratings_filtered = df_ratings[movies_filter & users_filter]

        # pivot and create movie-user matrix
        movie_user_mat = df_ratings_filtered.pivot(
            index='movieId', columns='userId', values='rating').fillna(0)
        # create mapper from movie title to index
        hashmap = {
            movie: i for i, movie in
            enumerate(list(df_movies.set_index('movieId').loc[movie_user_mat.index].title)) # noqa
        }
        # transform matrix to scipy sparse matrix
        movie_user_mat_sparse = csr_matrix(movie_user_mat.values)

        # clean up
        del df_movies, df_movies_cnt, df_users_cnt
        del df_ratings, df_ratings_filtered, movie_user_mat
        gc.collect()
        return movie_user_mat_sparse, hashmap

    def _fuzzy_matching(self, hashmap, fav_movie):
        """
        return the closest match via fuzzy ratio.
        If no match found, return None

        Parameters
        ----------
        hashmap: dict, map movie title name to index of the movie in data

        fav_movie: str, name of user input movie

        Return
        ------
        index of the closest match
        """
        match_tuple = []
        # get match
        for title, idx in hashmap.items():
            ratio = fuzz.ratio(title.lower(), fav_movie.lower())
            if ratio >= 60:
                match_tuple.append((title, idx, ratio))
        # sort
        match_tuple = sorted(match_tuple, key=lambda x: x[2])[::-1]
        if not match_tuple:
            print('Oops! No match is found')
        else:
            print('Found possible matches in our database: '
                  '{0}\n'.format([x[0] for x in match_tuple]))
            return match_tuple[0][1]

    def _inference(self, model, data, hashmap, fav_movie, n_recommendations):
        """
        return top n similar movie recommendations based on user's input movie

        Parameters
        ----------
        model: sklearn model, knn model

        data: movie-user matrix

        hashmap: dict, map movie title name to index of the movie in data

        fav_movie: str, name of user input movie

        n_recommendations: int, top n recommendations

        Return
        ------
        list of top n similar movie recommendations
        """
        # fit
        model.fit(data)
        # get input movie index
        print('You have input movie:', fav_movie)
        idx = self._fuzzy_matching(hashmap, fav_movie)
        # inference
        print('Recommendation system start to make inference')
        print('......\n')
        t0 = time.time()
        distances, indices = model.kneighbors(
            data[idx],
            n_neighbors=n_recommendations+1)
        # get list of raw idx of recommendations
        raw_recommends = \
            sorted(
                list(
                    zip(
                        indices.squeeze().tolist(),
                        distances.squeeze().tolist()
                    )
                ),
                key=lambda x: x[1]
            )[:0:-1]
        print('It took my system {:.2f}s to make inference \n\
              '.format(time.time() - t0))
        # return recommendation (movieId, distance)
        return raw_recommends

    def make_recommendations(self, fav_movie, n_recommendations):
        """
        make top n movie recommendations

        Parameters
        ----------
        fav_movie: str, name of user input movie

        n_recommendations: int, top n recommendations
        """
        # get data
        movie_user_mat_sparse, hashmap = self._prep_data()
        # get recommendations
        raw_recommends = self._inference(
            self.model, movie_user_mat_sparse, hashmap,
            fav_movie, n_recommendations)
        # print results
        reverse_hashmap = {v: k for k, v in hashmap.items()}
        print('Recommendations for {}:'.format(fav_movie))
        for i, (idx, dist) in enumerate(raw_recommends):
            print('{0}: {1}, with distance '
                  'of {2}'.format(i+1, reverse_hashmap[idx], dist))

In [20]:
if __name__ == '__main__':
    # initial recommender system
    recommender = KnnRecommender(
        'MovieLens/movies.csv',
        'MovieLens/ratings.csv')
    # set params
    recommender.set_filter_params(50, 50)
    recommender.set_model_params(20, 'brute', 'cosine', -1)
    # make recommendations
    recommender.make_recommendations("Iron Man", 10)

You have input movie: Iron Man
Found possible matches in our database: ['Iron Man (2008)']

Recommendation system start to make inference
......

It took my system 0.05s to make inference

Recommendations for Iron Man:
1: Kung Fu Panda (2008), with distance of 0.37368708848953247
2: Inception (2010), with distance of 0.3691744804382324
3: Up (2009), with distance of 0.3688569664955139
4: Guardians of the Galaxy (2014), with distance of 0.36875778436660767
5: Star Trek (2009), with distance of 0.36602938175201416
6: Batman Begins (2005), with distance of 0.36275893449783325
7: Avatar (2009), with distance of 0.3108932375907898
8: WALL·E (2008), with distance of 0.2981378436088562
9: Dark Knight, The (2008), with distance of 0.287839412689209
10: Avengers, The (2012), with distance of 0.2853195071220398